apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
- sources/monitoring-example.yaml
- kustomizations/monitoring-controllers.yaml
- kustomizations/monitoring-configs.yaml
